<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/bookstore2</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password"></property>

      <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
      <property name="hibernate.cache.use_query_cache">true</property>
      <property name=" hibernate.cache.use_second_level_cache">true</property>


      <mapping class="BookStore.Entity.AuthorEntity"/>
      <mapping class="BookStore.Entity.BookEntity"/>
      <mapping class="BookStore.Entity.CartEntity"/>
      <mapping class="BookStore.Entity.CartbookEntity"/>
      <mapping class="BookStore.Entity.CustomerEntity"/>
      <mapping class="BookStore.Entity.OrderbookEntity"/>
      <mapping class="BookStore.Entity.OrdersEntity"/>
      <mapping class="BookStore.Entity.WrittenbyEntity"/>
      <mapping resource="BookStore/Entity/AuthorEntity.hbm.xml"/>
      <mapping resource="BookStore/Entity/BookEntity.hbm.xml"/>
      <mapping resource="BookStore/Entity/CartEntity.hbm.xml"/>
      <mapping resource="BookStore/Entity/CartbookEntity.hbm.xml"/>
      <mapping resource="BookStore/Entity/CustomerEntity.hbm.xml"/>
      <mapping resource="BookStore/Entity/OrderbookEntity.hbm.xml"/>
      <mapping resource="BookStore/Entity/OrdersEntity.hbm.xml"/>
      <mapping resource="BookStore/Entity/WrittenbyEntity.hbm.xml"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>